// 1
// 2
{
  "presets": ["next/babel"]
}

/*
@          @@          @@          @@          @@          @@          @@          @@          @
1
.babelrcファイルはBabelの設定ファイルです。
Babelは、ES6以降のJavaScriptを従来のJavaScriptにトランスパイルすることができますが、それをどのように行うかを
指示するために、このような設定ファイルが必要になります。
.babelrcファイルは、トランスパイルのために必要なプラグインやプリセットのリストを含みます。

================================================================================================
2
Babelの設定を記述するJSON形式のファイルです。
presetsは、Babelがコードをトランスパイルする際に使用するプリセット(事前の設定)を指定するための設定項目です。
next/babelは、Next.jsが提供するBabelプリセットを使用することを指定しています。
Next.jsのBabelプリセットは、Next.jsで使用される機能をサポートする設定がされています。
つまり、next/babelを指定することで、Next.jsで使用されている機能をBabelが理解できるようになります。
*/
