/* global.css:アプリ全体のスタイリングを記載。どのページでも適用するstyleを書く
基本_app.js以外では呼び出さない。 */

/* Tailwind CSSのフォント設定。GoogleフォントからSpace Monoを@import。 */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* Tailwindのディレクティブ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2 共通の設定をclassとして */
@layer components {
  .button-basic {
    @apply m-2 block select-none rounded border-2 border-black px-5 py-2 font-spacemono text-lg font-normal tracking-tighter transition duration-300 md:px-10 md:py-4 md:text-2xl md:font-medium;
  }
  .button-small {
    @apply m-2 select-none rounded border-2 border-black px-5 py-2 font-spacemono text-lg font-normal tracking-tighter text-white transition duration-300 md:px-10 md:py-4 md:text-2xl md:font-medium;
  }
  .basic-border {
    @apply border border-black;
  }
  .basic-input {
    @apply block rounded border-2 border-gray-900 bg-gray-100 text-2xl text-basic-green placeholder-gray-500 focus:border-slate-100;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/*
@          @@          @@          @@          @@          @@          @@          @@          @
1
Tailwind CSSのディレクティブ `@tailwind base;`, `@tailwind components;`, `@tailwind utilities;`
. **`@tailwind base;`**:
- このディレクティブは、TailwindのベーススタイルをCSSファイルに挿入します。
- ベーススタイルには、ブラウザ間の一貫性を保つためのCSSリセットや正規化スタイルが含まれます。
- これにより、異なるブラウザ間でスタイルの見た目が統一され、開発者が一貫したベースラインからスタイリングを始められ
ます。
------------------------------------------------------------------------------------------------
. **`@tailwind components;`**:
- このディレクティブは、TailwindのコンポーネントクラスをCSSファイルに挿入します。
- コンポーネントクラスは、事前に定義されたUI要素や、プロジェクト内でカスタマイズされたコンポーネントのスタイルを含
むことがあります。
- `@layer components { ... }` ブロック内に記述されたスタイルは、Tailwindのコンポーネントとして扱われ、このデ
ィレクティブによって適用されます。
------------------------------------------------------------------------------------------------
. **`@tailwind utilities;`**:
- このディレクティブは、TailwindのユーティリティクラスをCSSファイルに挿入します。
- ユーティリティクラスは、マージン、パディング、フォントサイズ、色など、広範なスタイリングオプションを提供します。
- これらのクラスを使用して、HTML要素に直接スタイルを適用することができ、柔軟かつ迅速なスタイリングが可能になる。

================================================================================================
2
@layerディレクティブ
@layer内でカスタムスタイルを作成可能。@layerディレクティブ配下に独自のカスタムクラスを定義する。
また、カスタムスタイルがbase、components、utilitiesのどこに属するかを指定します。
@tailwind base;
@tailwind components;
@tailwind utilities;

baseはcssのベーススタイルをカスタム、componentsはTailwindのユーティリティクラスを使ってカスタムクラスを作成、
utilitiesはTailwindのユーティリティクラスを編集。
------------------------------------------------------------------------------------------------
@applyディレクティブで、Tailwindで用意されている既存のユーティリティクラスを使用可能。
------------------------------------------------------------------------------------------------
カスタム用の.button-basicクラスを設定。カスタムスタイルはcomponentsレイヤーに所属させる。
*@layer内で追加されたカスタムCSSは使用されない限り、最終的なビルドに含まれない。
================================================================================================
@          @@          @@          @@          @@          @@          @@          @@          @
CSS
@          @@          @@          @@          @@          @@          @@          @@          @
button-basic
左右のmargin、左右上下のpadding、角のround、枠線の色と太さ、フォント（ファミリー、フォントウェイト（太さ）、テ
キストサイズ、文字間の広さ、transition、アニメーションの時間、mdの設定

*/
